/* anchor.css */
.anchor-links {
    list-style-type: none;
    padding: 0;
}

.anchor-links li {
    margin-bottom: 10px; 
}

.dark-bold {
    font-weight: bold;
    color: #333;
    text-decoration: none;
    font-size: 18px; 
}

.dark-bold:hover {
    color: #000; 
}
